<h1>Add Plant to <%= @room.name %></h1>

<div>
  <%= form_with(model: [@room, @plant], local: true) do |f| %>
    <% if @plant.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@plant.errors.count, "error") %> prohibited this plant from being saved:</h2>

        <ul>
          <% @plant.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <%= f.label :plant_type %>
      <%= f.text_field :plant_type %>
    </div>

    <br>

    <div>
      <%= f.label :height %>
      <%= f.text_field :height%>
    </div>

    <br>

    <%= f.submit %>
  <% end %>
</div>
